**/node_modules
.pnpm-store/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
logs
*.log
npm-debug.log*
pnpm-debug.log*
coverage/
*.lcov
*.tsbuildinfo
.npm
.eslintcache
*.tgz
.cache
*.db
*.sqlite
*.sqlite3
dashboard.db
